<div class="custom-modal-container">

  <!-- Header -->

  <div class="d-flex justify-content-between align-items-start mb-4">

    <div>

      <h2 class="modal-title">

        {{
          isEditMode
            ? 'Edit Test Reference'
            : 'Add New Reference'
        }}

      </h2>

      <p class="modal-subtitle">

        Manage laboratory ranges and critical values.

      </p>

    </div>

    <button
      class="btn-close-custom"
      (click)="closeModal()">

      <i class="fa-solid fa-xmark"></i>

    </button>

  </div>

  <!-- Form -->

  <form
    [formGroup]="testForm"
    (ngSubmit)="submit()">

    <div class="row g-4">

      <!-- Test Name -->

      <div class="col-md-6">

        <label class="form-label">
          Test Name
        </label>

        <input
          type="text"
          formControlName="testName"
          class="form-control">

      </div>

      <!-- Category -->

      <div class="col-md-6">

        <label class="form-label">
          Category
        </label>

        <input
          type="text"
          formControlName="category"
          class="form-control">

      </div>

      <!-- Applicable -->

      <div class="col-md-6">

        <label class="form-label">
          Applicable To
        </label>

        <select
          formControlName="applicableTo"
          class="form-select">

          <option
            *ngFor="let opt of applicableToOptions"
            [value]="opt">

            {{ opt }}

          </option>

        </select>

      </div>

      <!-- Unit -->

      <div class="col-md-6">

        <label class="form-label">
          Unit
        </label>

        <input
          type="text"
          formControlName="unit"
          class="form-control">

      </div>

      <!-- Min -->

      <div class="col-md-6">

        <label class="form-label">
          Min Value
        </label>

        <input
          type="number"
          formControlName="min"
          class="form-control">

      </div>

      <!-- Max -->

      <div class="col-md-6">

        <label class="form-label">
          Max Value
        </label>

        <input
          type="number"
          formControlName="max"
          class="form-control">

      </div>

      <!-- Critical -->

      <div
        class="col-12"
        formGroupName="criticalRange">

        <div class="critical-box">

          <label class="form-label text-danger">
            Critical Limits
          </label>

          <div class="row g-3">

            <div class="col-md-6">

              <input
                type="number"
                formControlName="low"
                class="form-control"
                placeholder="Low Critical">

            </div>

            <div class="col-md-6">

              <input
                type="number"
                formControlName="high"
                class="form-control"
                placeholder="High Critical">

            </div>

          </div>

        </div>

      </div>

      <!-- Advice -->

      <div
        class="col-12"
        formGroupName="adviceTemplates">

        <div class="advice-box">

          <label class="form-label text-primary">
            Advice Templates
          </label>

          <div class="row g-3">

            <div class="col-md-6">

              <input
                type="text"
                formControlName="normal"
                class="form-control"
                placeholder="Normal Advice">

            </div>

            <div class="col-md-6">

              <input
                type="text"
                formControlName="low"
                class="form-control"
                placeholder="Low Advice">

            </div>

            <div class="col-md-6">

              <input
                type="text"
                formControlName="high"
                class="form-control"
                placeholder="High Advice">

            </div>

            <div class="col-md-6">

              <input
                type="text"
                formControlName="critical"
                class="form-control"
                placeholder="Critical Advice">

            </div>

          </div>

        </div>

      </div>

      <!-- Reference -->

      <div class="col-12">

        <label class="form-label">
          Reference Text
        </label>

        <input
          type="text"
          formControlName="referenceText"
          readonly
          class="form-control">

      </div>

      <!-- Error -->

      <div
        *ngIf="testForm.hasError('rangeError')"
        class="col-12">

        <div class="error-text">

          * Max value must be greater than Min value.

        </div>

      </div>

    </div>

    <!-- Footer -->

    <div class="modal-footer-custom">

      <button
        type="button"
        class="btn-cancel"
        (click)="closeModal()">

        Cancel

      </button>

      <button
        type="submit"
        class="btn-save"
        [disabled]="loading || testForm.invalid">

        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm me-2">
        </span>

        {{
          isEditMode
            ? 'Update Reference'
            : 'Save Reference'
        }}

      </button>

    </div>

  </form>

</div>
