@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/bootstrap-icons/font/bootstrap-icons.css);
body{
  overflow-x: hidden;
}
html{
  overflow-x: hidden;

}
.cdk-overlay-pane {
  border-radius: 24px !important;
  overflow: hidden !important;
}

.success-snackbar {
  background-color: #22c55e !important;
  color: white !important;
  border-radius: 8px !important;
}